////////////////////////
//      REM CALC      //
////////////////////////
// REM BASE (font-size on html element)
$rem-base: 16;

// @function rem($pxValues) {
//   @return $pxValue/$rem-base + rem;
// }

@function rem($pxValues...) {
  $result: 1rem;

  @each $pxValue in $pxValues {
    $result: $pxValue/$rem-base + rem;
  }
  @return $result;
}

////////////////////////
//     COLOR MATH     //
////////////////////////
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
